.sum {

    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    margin: 30px;
}

.table td {
    border:none;
    min-width: 100px;
}

.table  tr{ padding: 3px;}


.account-details  {

    width: 400px;
    padding: 10px;
    margin-left: 100px;
}
.account-details img{
    width: 60px;
    height: 60px;


}

.profile-header-img {

    width: 60px;
}

